* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
body {
    background-color: grey;
}
main {
    margin: auto;
    max-width: 80%;
    background-color: white;
}
.corpo {
    margin: auto;
    padding: 20px;
    max-width: 80%;
    height: 100%;
}
h2 {
    color: #c44156;
    font-size: 50px;
    text-align: center;
}
p {
    padding: 20px;
}
.card {
    float: left;
    width: 300px;
    height: 100px;
    margin: 30px;
    background-color: black;;
}
.card img {
    max-width: 40%;
    max-height: 100%;
    position: relative;
}
ul {
    position: absolute;
    color: white;
    list-style: none;
    display: inline;
    padding: 10px;
}
#contatto {
    color: aqua;
}