* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
body {
    background-color: grey;
}
.maincontainer {
    margin: auto;
    max-width: 80%;
}
.iniziale {
    margin: auto;
    padding: 20px;
    max-width: 60%;
    background-color: white;
}
h2 {
    color: #c44156;
    font-size: 50px;
    text-align: center;
}
p {
    padding: 20px;
}